a.bouton {
    color: white;
    background-color: #181846;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
a.bouton:hover {
    background-color: #ed7464;
  }